.dropdown{
    width: 50%;
    margin: 3% auto;
    border: 2px solid black;
    border-radius: 7px;
    padding: 2%;
    background: #ccc;
}

label{
    margin: 0 3%;
    font-size: 2rem;

}

select{
    width: 30%;
    margin: 0 3%;
    border: 1px solid;
    background: #eee;
    outline: none;
    vertical-align: text-bottom;
}